input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333;
}

input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}

input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #000;
}

input[type=range]:focus::-ms-fill-lower {
    background: #888;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

.player {
    width: 100%;
    height: 100%;
}

.player--play-btn {
    display: block;
    width: 30px;
    height: 30px;
}

.player--loading {
    position: absolute;
    right: 5px;
    top: 5px;
}

.player--seekbar {
    padding-bottom: 10px;
}

.player--cover {
    float: left;
}

.player--content {
    float: left;
    width: 300px;
    margin-left: 10px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.cover--image {
    height: 150px;
    width: auto;
    max-width: 150px;
}

.player--title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.clearfix {
    clear: both;
}